#the-key-heading  {
    height: 90px;
    font-size: 80px;
    font-weight: bold;
    color: #b58900;
    background-color: #eee8d5;
    text-align: center;
    vertical-align: middle;
    line-height: 90px; 
}

#tab-bar  {
    background-color: #eee8d5;
    color: #93a1a1;
    height:40px;
}

html {

    background-color:  #fdf6e3;
    font-family: "ff-din-web-pro-1", "ff-din-web-pro-2", sans-serif;
}
