.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 153px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
  position:absolute;
  background-color: rgb(232,232,232);

}

.suggestions p {
  padding: 0.5rem;
  margin-bottom: 0px;
}

.suggestion-active,
.suggestions p:hover {
  background-color: #C0C0C0;
  color: #2f4f4f;
  cursor: pointer;
  font-weight: 700;
}

.suggestions p:not(:last-of-type) {
  border-bottom: 1px solid #999;
}